<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<%= link_to 'Destory comment', [comment.article, comment], method: :delete, data: { comfirm: 'are you sure?' } %>