<p>
  <%= comment.body %>
</p>
<p>
  <strong>评论者:</strong>
  <%= comment.commenter %>
</p>


<% if session[:user_id] %>
  <%= link_to "删除评论", [comment.article, comment], method: :delete, data: { comfirm: 'are you sure?' } %>
<% end %>